<!-- This is going to bring in our base.html file. -->
{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}To-Do List | Edit Item{% endblock %}
</head>

<body>

    <!-- Stuff inside the block content block is unique to this page.  -->
    {% block content %}
        {% if item %}
            <form class="d-flex" method="POST">
                {% csrf_token %}
                <input class="form-control me-2" type="search" placeholder="{{ item.item }}" value="{{ item.item }}" 
                    aria-label="Search" name="item">
                <input type="hidden" value="{{ item.completed }}" name="completed">
                <button class="btn btn-outline-secondary" type="submit">Edit Item</button>
            </form>
        {% endif %}
    {% endblock %}
</body>
</html>