<!-- This is going to bring in our base.html file. -->
{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}To-Do List{% endblock %}
</head>
<body>

    <!-- Stuff inside the block content block is unique to this page.  -->
    {% block content %}
        <h1>Todo List Home Page</h1>
        
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    </button>

                </div>
            {% endfor %}
        {% endif %}
        
        {% if all_items %}
        <table class="table table-bordered">
            {% for things in all_items %}
                {% if things.completed %}
                    <tr class="table-secondary">
                        <td class="striker">{{ things.item }}</td>
                        <td><center>{{ things.completed }}</center></td>
                        <td><center><a href="{% url 'delete' things.id %}">Delete</a></center></td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{ things.item }}</td>
                        <td><center>{{ things.completed }}</center></td>
                        <td><center><a href="{% url 'delete' things.id %}">Delete</a></center></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        {% endif %}
    
        {% endblock %}
</body>
</html>