<!-- This is going to bring in our base.html file. -->
{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}To-Do List{% endblock %}
</head>
<body>

    <!-- Stuff inside the block content block is unique to this page.  -->
    {% block content %}
        <h1>Todo List Home Page</h1>
    {% endblock %}
</body>
</html>